// Footer
footer.page-footer.font-small.default-color.fixed-bottom.mt-5
	// Copyright
	.footer-copyright.text-center.py-3
		| © 
		script.
			document.write(new Date().getFullYear());
		|. 		All Rights Reserved | Powered by 
		a.text-danger(href='#' target='_blank') Ovichincodes
