extends ../layout/layout

block content
    .row.mb-5
        .offset-md-2.col-md-8
            h3.text-center Employee Clock Out
            div.video-div
                video#video(autoplay='' muted='' style="max-width: 100%; height: auto; border: 1px solid #ccc;")
            p.text-center#currentStatus